/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "icons/*.png";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

$digital-margin: 0 5px;
$box-padding: 5px;
$height: icons-sprite-height(pdf);
$width: icons-sprite-width(pdf);
$digital-color: #eee;
@mixin icons-attr {
  height: $height;
  padding: 0 5px 0 $width + 5px;
  display: inline-block;
  color: #000;
}
@mixin dig-radius {
  @include border-radius(5px);
  border: 1px $digital-color solid;
  @include box-shadow(-3px 2px darken($digital-color, 20%));
  padding: 2px 0;
}

.digitalcontainer a:hover {
  color: #000;
}
.quote {
  @include icons-sprite(quote);
  @include icons-attr;
  float: left;
}
.nb-sortby-1 {
  @include icons-sprite(en23);
  @include icons-attr;
  width: icons-sprite-width(abc);
}
.nb-sortby-a {
  @include icons-sprite(abc);
  @include icons-attr;
  width: icons-sprite-width(abc);
}
.quote-text {
  padding-left: $width + 5px;
  margin-bottom: 10px;
}
.photo {
  @include icons-sprite(photo);
  @include icons-attr;
}
.pdf {
  @include icons-sprite(pdf);
  @include icons-attr;
}
.none {
  @include icons-sprite(none);
  @include icons-attr;
}
.nb-list-item {
  margin: 15px;
  padding: 5px;
  border: 1px solid #eee;
  @include box-shadow(0 0 5px 5px #eee);
  .object {
    @include icons-sprite(book);
    @include icons-attr;
  }

}
.nb-clear {
  clear: both;
}
.nb-results .odd {
  @extend .nb-list-item;
  clear: both;
}
.nb-subjects {
  a {
    padding:0 5px;
    display: inline-block;
  }
}
.digitaltypes {
  float: left;
  clear: both;
  @include dig-radius;
}
.nb-places {
  @extend .nb-subjects;
}
.nb-download {
  margin: $digital-margin;
  display: inline-block;
  @include dig-radius;
}
.nb-expand-dig {
  display: none;
  @include icons-sprite(expand);
  @include icons-attr;
  font-weight: bold;
  color: #000;
}
