/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 98, icons/*.png */
.icons-sprite, .quote, .nb-sortby-1, .nb-sortby-a, .photo, .pdf, .none, .nb-list-item .object, .nb-results .odd .object, .nb-expand-dig {
  background: url('../images/icons-s5f71780160.png') no-repeat;
}

/* line 28, ../sass/screen.scss */
.digitalcontainer a:hover {
  color: #000;
}

/* line 31, ../sass/screen.scss */
.quote {
  background-position: 0 -158px;
  height: 22px;
  padding: 0 5px 0 27px;
  display: inline-block;
  color: #000;
  float: left;
}

/* line 36, ../sass/screen.scss */
.nb-sortby-1 {
  background-position: 0 -112px;
  height: 22px;
  padding: 0 5px 0 27px;
  display: inline-block;
  color: #000;
  width: 39px;
}

/* line 41, ../sass/screen.scss */
.nb-sortby-a {
  background-position: 0 -90px;
  height: 22px;
  padding: 0 5px 0 27px;
  display: inline-block;
  color: #000;
  width: 39px;
}

/* line 46, ../sass/screen.scss */
.quote-text {
  padding-left: 27px;
  margin-bottom: 10px;
}

/* line 50, ../sass/screen.scss */
.photo {
  background-position: 0 -134px;
  height: 22px;
  padding: 0 5px 0 27px;
  display: inline-block;
  color: #000;
}

/* line 54, ../sass/screen.scss */
.pdf {
  background-position: 0 -44px;
  height: 22px;
  padding: 0 5px 0 27px;
  display: inline-block;
  color: #000;
}

/* line 58, ../sass/screen.scss */
.none {
  background-position: 0 0;
  height: 22px;
  padding: 0 5px 0 27px;
  display: inline-block;
  color: #000;
}

/* line 62, ../sass/screen.scss */
.nb-list-item, .nb-results .odd {
  margin: 15px;
  padding: 5px;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 0 5px 5px #eeeeee;
  -moz-box-shadow: 0 0 5px 5px #eeeeee;
  box-shadow: 0 0 5px 5px #eeeeee;
}
/* line 67, ../sass/screen.scss */
.nb-list-item .object, .nb-results .odd .object {
  background-position: 0 -22px;
  height: 22px;
  padding: 0 5px 0 27px;
  display: inline-block;
  color: #000;
}

/* line 73, ../sass/screen.scss */
.nb-clear {
  clear: both;
}

/* line 76, ../sass/screen.scss */
.nb-results .odd {
  clear: both;
}

/* line 81, ../sass/screen.scss */
.nb-subjects a, .nb-places a {
  padding: 0 5px;
  display: inline-block;
}

/* line 86, ../sass/screen.scss */
.digitaltypes {
  float: left;
  clear: both;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px #eeeeee solid;
  -webkit-box-shadow: -3px 2px #bbbbbb;
  -moz-box-shadow: -3px 2px #bbbbbb;
  box-shadow: -3px 2px #bbbbbb;
  padding: 2px 0;
}

/* line 94, ../sass/screen.scss */
.nb-download {
  margin: 0 5px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px #eeeeee solid;
  -webkit-box-shadow: -3px 2px #bbbbbb;
  -moz-box-shadow: -3px 2px #bbbbbb;
  box-shadow: -3px 2px #bbbbbb;
  padding: 2px 0;
}

/* line 99, ../sass/screen.scss */
.nb-expand-dig {
  display: none;
  background-position: 0 -66px;
  height: 22px;
  padding: 0 5px 0 27px;
  display: inline-block;
  color: #000;
  font-weight: bold;
  color: #000;
}
